{% extends 'base.html' %}

{% block content %}
<div class='homepage-content'>
  <div class='homepage-banner'>
    <h1>Portfolio - Resume Page</h1>
    <hr>

    <h4>Oracle Dyn </h4>
    <h5> Assisting Enterprise level customers manage and configure theur DNS services</h5>
    <h5> Start Date: 04/01/2014 </h5>
    <h5> End Date: Current </h5>

    <br> </br>

    <h4> Best Buy </h4>
    <h5> Description: helped sell, configure and trouble shoot computers within a retail enviornment </h5>
    <h5> Start Date: 08/13/2014 </h5>
    <h5> End Date: 03/31/2013 </h5>

  </div>
</div>
{% endblock %}
